<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="bootstrap-4/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/themes.css">
    <script src="js/colorpalettepicker.js"></script>
    
    <title>Host Theme</title>
</head>
<body id="themeBg">
    <!--theme header-->
<div class="container ">
    <div class="row mt-5">
       
        <div class="col-12 col-lg-12 col-xl-12 venue mb-3 ">
        <h4 class="title">Upcoming Booked Parties</h4>
        </div>
    </div>
    
</div>
        {{#each  Bookings}}
        <div class="col-11 col-xl-3 col-lg-5 col-md-5 ml-4  themeDiv" >
            <div class="text-center mb-2">
                <img src="images/ninja.png" alt="">
                <label class="text-center" style="color: #28AD00">{{this.Venue}}</label>
            </div>
            <img src="{{this.Image}}" class="w-100" alt="">
            <div class="row mt-2">
                <div class="col-6">
                    <p class="themeTitle">{{this.Pname}}</p>
                    <p class="themeBody">Parent Name</p>
                </div>
            </div>
            <hr class="rowhr">
            <div class="row">
                <div class="col-6">
                    <p class="themeTitle">{{this.Cname}} </p>
                    <p class="themeBody">Child Name</p>
                </div>
            </div>
            <hr class="rowhr">
            <div class="row">
                <div class="col-6">
                    <p class="themeTitle">{{this.Email}}</p>
                    <p class="themeBody">Email</p>
                </div>
                </div>
                <hr class="rowhr">
                 <div class="row">
                <div class="col-6">
                    <p class="themeTitle">{{this.Phone}}</p>
                    <p class="themeBody">Phone Number</p>
                </div>
            </div>
            <hr class="rowhr">
            <div class="row">
                <div class="col-6">
                    <p class="themeTitle">{{this.Date}} </p>
                    <p class="themeBody">Date</p>
                </div>
            </div>
            <hr class="rowhr">
            <div class="row">
                <div class="col-6">
                    <p class="themeTitle">${{this.Price}} </p>
                    <p class="themeBody">Price</p>
                </div>
            </div>
            <hr class="rowhr">
            <div class="row">
                <div class="col-6">
                    <p class="themeTitle">{{this.Theme}} </p>
                    <p class="themeBody">Theme</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
    
    <script src="jquery/jquery-3.4.0.min.js"></script>
    <script src="js/popper.min.js"></script> 
    <script src="bootstrap-4/js/bootstrap.min.js"></script>  
</body>
</html>