<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="bootstrap-4/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/themes.css">
    <script src="js/colorpalettepicker.js"></script>
    
    <title>Host Theme</title>
</head>
<body id="themeBg">
    <!--theme header-->
<div class="container ">
    <div class="row mt-5">
       
        <div class="col-12 col-lg-12 col-xl-12 venue mb-3 ">
        <h4 class="title">Host Themes</h4>
        </div>
    </div>
    
</div>
    <!--form-->
<div class="container">
    <div class="row  justify-content-center mb-5">
        {{#each  Themes}}
        <div class="col-11 col-xl-3 col-lg-5 col-md-5  themeDiv" >
            <div class="text-center mb-2">
                <img src="images/ninja.png" alt="">
                <label class="text-center" style="color: #28AD00">{{this.Name}}</label>
            </div>
            <img src="{{this.Image}}" class="w-100" alt="">
            <div class="row mt-2">
                <div class="col-6">
                    <p class="themeTitle">${{this.Price}} / Day</p>
                    <p class="themeBody">Price</p>
                </div>
            </div>
            <hr class="rowhr">
            <div class="row">
                <div class="col-6">
                    <p class="themeTitle">{{this.Length}} Mins</p>
                    <p class="themeBody">Length</p>
                </div>
            </div>
            <hr class="rowhr">
            <div class="row">
                <div class="col-6">
                    <p class="themeTitle">{{this.MinAge}} Years Old</p>
                    <p class="themeBody">Min Age</p>
                </div>
                <div class="col-6">
                    <p class="themeTitle text-right">{{this.MaxParticipants}}</p>
                    <p class="themeBody text-right">Max Participants</p>
                </div>
            </div>
            <hr class="rowhr">
            <div class="row">
                <div class="col-12">
                    <p class="themeTitle text-center">Included</p>
                    <p class="themeBody text-center">{{this.Included}}</p>
                </div>
            </div>
            <hr class="rowhr">
            <div class="row justify-content-center">
                <div class="col-12">
                    <p class="themeTitle text-center">Not Included</p>
                    <p class="themeBody text-center">{{this.NotIncluded}}</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 text-center mt-3">
                <a href="/DeleteTheme/{{this.Name}}" class=" DeleteTheme">Delete Theme</a>
                </div>
            </div>
        </div>
        {{/each}}
        <!--add btn section-->
        <div class="col-4 col-lg-5 col-xl-3 col-md-5  ml-4 themeDiv2 text-center " >
            <a href="/Themes/{{venue.Owner}}" class=" align-self-center"><i class="fas fa-plus-circle align-self-center"></i></a>
        </div>
    </div>
</div>
    
    <script src="jquery/jquery-3.4.0.min.js"></script>
    <script src="js/popper.min.js"></script> 
    <script src="bootstrap-4/js/bootstrap.min.js"></script>  
</body>
</html>